<ion-header class="ion-no-border">
<ion-toolbar no-border>
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon name="menu-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-sharp"></ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="banner">
    <img src="../../assets/banner.jpeg"/>
    <div class="caption ion-padding">
      Upcoming Events
    </div>
    <div class="search">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon slot="end" name="search-outline"></ion-icon>
        <ion-input placeholder="Search for events"></ion-input>
      </ion-item>
    </div>

 

  </div>

  <ion-col >
    <div class="title">
      <h2>Popular Events</h2>
      <p>See All</p>
    </div>
  </ion-col>

  <div class="event-slider">
    <!-- <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true}" class="default-left-padding"> -->
      <ion-slides class="slides" [options]='slideOpts'>
        <ion-slide *ngFor='let i of [1, 2]'>

      <!-- <ion-slide> -->
          <ion-card>
            <ion-card-header class="ion-no-padding">
              <img src="../../assets/undraw_compose_music_ovo2 (1).svg"/>
            </ion-card-header>
            <ion-card-content>
              <p class="date">25, December, 2021</p>
              <h1 class="eventName">Party with the English</h1>
              <p class="location"><ion-icon name="location"></ion-icon> West Rand</p>
            </ion-card-content>
          </ion-card>
      </ion-slide>

      <ion-slide>
          <ion-card>
            <ion-card-header class="ion-no-padding">
              <img src="../../assets/undraw_compose_music_ovo2 (1).svg"/>
            </ion-card-header>
            <ion-card-content>
              <p class="date">26, December, 2021</p>
              <h1 class="eventName">West Festival</h1>
              <p class="location"><ion-icon name="location"></ion-icon> West Rand</p>
            </ion-card-content>
          </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Ongoing Events</h2>
        </ion-col>
        <ion-col>
          <p>See All</p>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </div>



</ion-content>

